name: Cargo build and test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install dependences
      run: sudo apt-get install -y libcurl4-openssl-dev libbz2-dev liblzo2-dev liblzma-dev libzstd-dev liblz4-dev libnghttp2-dev libc-ares-dev libz3-dev
    - name: Build project
      run: cargo build --verbose
    - name: Run cargo tests
      run: cargo test --verbose
